@import 'global-styles/ui';
@import 'bootstrap/scss/bootstrap';
@import '@fontsource/material-icons';

body {
    background-color: transparent;
    color: $dark;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#root,
.app-main {
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
}

.flex-1 {
    flex: 1;
}

.modal-body {
    height: 600px;
    position: relative;
    .close-btn {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        color: #6c757d;
    }
}

.progress {
    height: 0.75rem;
}
